.add-record-modal {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: fixed !important;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0);
    padding-top: 60px;
}

    .add-record-modal, .add-record-modal * {
        pointer-events: auto !important;
    }

.add-record-modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    width: 100% !important; /* изменено на 100% */
    max-width: 100% !important; /* изменено на 100% */
    overflow-y: auto;
}


.image-grid {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 200px;
    gap: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.image-thumbnail {
    width: 48px;
    height: 48px;
}

.image-title {
    font-size: 10px;
    text-align: center;
}

.selected-image-container {
    margin-top: 20px;
}

.selected-image {
    max-width: 200px;
    max-height: 200px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.editor {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    overflow-y: auto;
    height: 400px; /* установим фиксированную высоту для области контента */
}

#content img {
    max-width: 100%;
    height: auto;
}