@page "/"
@using HelpfulHive.Services
@using HelpfulHive.Models
@using System.Security.Claims
@inject RecordService rSRV
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

<h3 style="font-family: 'NavMenuParentLinkFont';">Избранные шаблоны</h3>

<RecordList LoadFavorites="true" />

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            NavManager.NavigateTo("/Identity/Account/Login", forceLoad: true);
        }
    }
}
