@page "/pdf-display"

<h3 style="font-family: 'NavMenuParentLinkFont';">Руководство пользователя</h3>
@*<iframe src="RP.pdf" style="width:100%; height:80vh; border:none;" frameborder="0"></iframe>*@
<embed style="width:100%; height:80vh; border:none;" frameborder="0" src="RP.pdf#zoom=130" type="application/pdf">
