body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #dae2e5, #e9ebec);
    display: flex;
    flex-direction: column;
}

.record-list {
    width: 100%;
    /* ... другие стили */
}


.record-list {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    border-radius: 5px;
    color: white;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: auto;
    flex-grow: 1;
}

.record-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 15px;
}

.record-item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    /*position: relative;*/
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

    .record-item:hover {
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    }


        .record-item:hover .edit-icon {
            display: inline;
        }

.edit-icon {
    display: none;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffeb3b;
    cursor: pointer;
}

.record-content {
    font-size: 16px;
}






.search-and-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f7f7f7;
}

.search-area {
    display: flex;
    flex-direction: column; /* Добавлено для вертикального выравнивания */
    align-items: flex-start; /* Изменено для выравнивания элементов влево */
    gap: 15px;
   
}

.checkbox-area label {
    font-size: 12px; /* или другой размер, который вам нравится */
    margin-left: 5px; /* добавляет пространство между текстом и чекбоксом */

}

.checkbox-area {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
}



    .search-area input[type="text"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 400px;
        outline: none;
        transition: border-color 0.3s;

    }

        .search-area input[type="text"]:focus {
            border-color: #007bff;
        }

.search-area input[type="checkbox"] {
    width: 16px; /* или другой размер, который вам нравится */
    height: 16px; /* или другой размер, который вам нравится */
    margin-right: 10px; /* добавляет пространство между чекбоксом и текстом */
   
}

.actions-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Выравнивание по центру по вертикали */
}

.popular-record-list {
    display: flex;
    gap: 10px;
    background-color: transparent; /* Убрать фоновый цвет */
}

.popular-record-item {
    position: relative;
    transition: transform 0.3s;
    background-color: transparent; /* Убрать фоновый цвет */
    border: none; /* Убрать границу */
    cursor: pointer; /* Курсор в виде указателя */

    padding: 0; /* Убрать внутренние отступы */
    display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
}

    .popular-record-item:hover {
        transform: scale(1.05);
        position: relative;
        transition: transform 0.3s;
        background-color: transparent; /* Убрать фоновый цвет */
        border: none; /* Убрать границу */
        cursor: pointer; /* Курсор в виде указателя */
        padding: 0; /* Убрать внутренние отступы */
        display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
    }

.record-img {
    max-width: 100px;
    border-radius: 4px;
    padding:5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

