.record-list {
    padding: 11px 15px;
    width: 100%;
    margin: auto;
    font-family: 'NavMenuChildtLinkFont';
    flex-grow: 1;
    overflow-y: auto;

}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.record-item {
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, #4a8c9b, #4abfbd, #4a8c9b, #4abfbd);
    background-size: 400% 400%;
    display: flex; /* Используем flexbox */
    justify-content: space-between; /* Распределяем содержимое и иконку по бокам */
    align-items: center; /* Центрируем элементы по вертикали */
    transition: opacity 0.4s ease, box-shadow 0.4s ease; /* Плавное изменение */
}

    .record-item:hover {
        opacity: 0.8; /* Немного уменьшаем прозрачность при наведении */
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Увеличиваем тень для добавления глубины */
    }


    .record-item:last-child {
        margin-bottom: 0; /* Убираем отступ у последнего элемента */
    }

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.record-item-content {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Позволяет содержимому занимать все доступное пространство */
}

.record-img {
    width: 38px;
    height: 38px;
    margin-right: 15px;
    object-fit: cover;
    padding: 5px;

    border: none; /* Убрать границу */
    background-color: transparent; /* Убрать фоновый цвет */
    display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
}



    .record-img:hover {
        transform: scale(1.05);
    }


    .record-item:hover {
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.1);
    }

.edit-icon {
    display: none;
    margin-right:10px;
    color: #3c7a75;
    cursor: pointer;
    transition: transform 2s ease; /* Плавный переход */
}
.record-item:hover .edit-icon {
    display: inline-block; /* или block, в зависимости от того, как вам нужно */
}

.edit-icon:hover {
    color: #6c7071; /* Изменить на другой цвет при наведении */
}



.record-content {
    font-size: 18px;
    line-height: 1.5; /* Улучшение читаемости */
   
}






body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #dae2e5, #e9ebec);
    display: flex;
    flex-direction: column;
}




.record-list {
    margin-top: 20px;
}

.center-container {
    text-align: center;
   
}

.record-group {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
}

.group-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.tab-group {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
   
}

.tab-title {
    font-size: 15px;
    font-weight: bold;
    color: #555;
    font-size: 19px;
}

.subtab-group {
    margin-top: 10px;
    border: 1px solid #eee;
    padding: 10px;
    background-color: #f9f9f9;
}

.subtab-title {
    font-size: 14px;
    font-weight: bold;
    color: #777;
}

.record-item {
    margin-top: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.record-item-content {
    flex: 1;
    display: flex;
    align-items: center;
}

.record-img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.record-content {
    color: #333;
}

.edit-icon {
    cursor: pointer;
}






.search-and-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-area {
    display: flex;
    flex-direction: column; /* Добавлено для вертикального выравнивания */
    align-items: flex-start; /* Изменено для выравнивания элементов влево */
    gap: 15px;
}

.checkbox-area label {
    font-size: 12px; /* или другой размер, который вам нравится */
    margin-left: 5px; /* добавляет пространство между текстом и чекбоксом */
}

.checkbox-area {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
}

.new-record-indicator {
 
}


.new-record-indicator-img {
    width: 22px; /* Размеры изображения */
    height: 22px;
    content: url('/serviceimages/newCommonRecord.png'); /* Укажите путь к изображению здесь */
    background-size: cover;
    margin-left: -6px; /* Половина ширины изображения */
    margin-top: -45px; /* Половина высоты изображения */
    display: none; /* Сначала скрываем элемент */
    position: absolute;
    /*transform: rotate(-10deg);*/ /* Наклон на 10 градусов */

}

.record-item.new-record-indicator .new-record-indicator-img {
    display: block; /* Отображаем изображение только в новых записях */
}


.search-area input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 400px;
    outline: none;
    transition: border-color 0.3s;
}

    .search-area input[type="text"]:focus {
        border-color: #007bff;
    }

.search-area input[type="checkbox"] {
    width: 16px; /* или другой размер, который вам нравится */
    height: 16px; /* или другой размер, который вам нравится */
    margin-right: 10px; /* добавляет пространство между чекбоксом и текстом */
}

.actions-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Выравнивание по центру по вертикали */
}

.popular-record-list {
    display: flex;
    gap: 10px;
    background-color: transparent; /* Убрать фоновый цвет */
}

.popular-record-item {
    position: relative;
    transition: transform 0.3s;
    background-color: transparent; /* Убрать фоновый цвет */
    border: none; /* Убрать границу */
    cursor: pointer; /* Курсор в виде указателя */

    padding: 0; /* Убрать внутренние отступы */
    display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
}

    .popular-record-item:hover {
        transform: scale(1.05);
        position: relative;
        transition: transform 0.3s;
        background-color: transparent; /* Убрать фоновый цвет */
        border: none; /* Убрать границу */
        cursor: pointer; /* Курсор в виде указателя */
        padding: 0; /* Убрать внутренние отступы */
        display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
    }







/* Базовые стили для разделов поиска */
.section {
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
    background: rgba(249, 249, 249, 0.9); /* светлый фон с прозрачностью */
    box-shadow: 0 6px 16px rgba(0,0,0,0.1); /* мягкая тень */
    border: 1px solid rgba(224, 224, 224, 0.9); /* тонкая граница с прозрачностью */
}

/* Стили для раздела точного поиска */
.exact-search-section {
    background: linear-gradient(to right, rgba(77, 198, 172, 0.2), rgba(67, 198, 172, 0.2)); /* градиентный фон зеленого цвета с прозрачностью */

    overflow-y: auto;
}

/* Стили для раздела умного поиска */
.smart-search-section {
    background: linear-gradient(to right, rgba(109, 213, 237, 0.2), rgba(33, 147, 176, 0.2)); /* градиентный фон синего цвета с прозрачностью */
    overflow-y: auto;
}

/* Стили для панелей в разделах */
.split-view {
    display: flex;
    gap: 20px;
}

.left-pane, .right-pane {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.full-width-pane {
    width: 100%;
}

/* Стили заголовков */
h3, h4 {
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #333;
    margin-bottom: 15px;
}





.edit-icon .fa-pencil-alt {
    font-size: 22px; /* Изменение размера иконки */

}

.fa-pencil-alt {
    position: relative; /* Для позиционирования подсказки относительно кнопки */
}
    .tooltip-text {
    visibility: hidden;
    background-color: dimgray;
    color: white; /* Белый текст */
    text-align: center;
    border-radius: 3px;
    padding: 7px;
    /* Позиционирование */
    position: absolute;
    z-index: 1;
    top: 100%; /* Под кнопкой */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px; /* Отступ от кнопки */
    /* Анимация */
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    transition-delay: 0.1s;
    font-size: 13px !important;
    font-weight: 100;
    font-family: 'Tahoma';
    line-height:16px;
}


.fa-pencil-alt:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
}







.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

#animated-search {
    width: 100%;
    height: 50px;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 10px 20px 10px 40px; /* Добавляем место под иконку */
    transition: height 0.5s ease;
    resize: none;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}

.search-icon {
    position: absolute;
    left: 10px;
    font-size: 20px;
    transition: transform 0.5s ease, color 0.5s ease;
    color: #aaa;
}

#animated-search:focus {
    height: 100px;
    background-color: #ffffff;
}

    #animated-search:focus + .search-icon {
        transform: rotate(360deg);
        color: #007BFF;
    }







.rx-search {
    display: inline-block;
    margin: auto;
    position: relative;

}

.rx-search-input {
    border: 6px solid #128286;
    background: transparent;
    border-radius: 50%; /* Убедитесь, что элемент остается круглым */
    padding: 1em 1em;
    outline: none;
    color: #fff;
    width: 100px; /* Минимальная ширина, она изменится при фокусе */
    height: 100px; /* Новая высота */
    cursor: pointer;
    transform: scale(.5);
    transition: .3s all ease-in;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.4); /* Добавляем тень для объема */
    background: radial-gradient(circle, #fff 40%, #cdebf8 99%, white 100%); /* Радиальный градиент для объема */
    resize: none; /* Отключение возможности изменения размера пользователем */
    position: relative;

}

    /* Стили для состояний фокуса и валидности, изменение ширины на 400px */
    .rx-search-input:focus,
    .rx-search-input:valid {
        cursor: text;
        border-radius: 10px;
        border: 2px solid #3498db;
        width: 600px; /* Новая ширина */
        transform: scale(1);
        color: black;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.7); /* Увеличиваем тень для акцента на фокусе */
        background: transparent;
        cursor: text;
    }



.rx-search-handle {
    transition: .3s all ease-in;
    width: 4px;
    height: 24px;
    background: red; /* Изменённый цвет лупы */
    display: block;
    transform: rotate(-45deg);
    position: absolute;
    right: 22px;
    top: 64px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2); /* Добавляем тень для лупы */
    background: linear-gradient(to right, #1e8071, #c0c0c0); /* Градиент для объема */
    
}

.rx-search-input:focus + .rx-search-handle,
.rx-search-input:valid + .rx-search-handle {
    height: 0;
    transform: rotate(-90deg);
    background: red; /* Изменённый цвет лупы при фокусе/валидности */

}

.rx-search-input:not(:focus)::placeholder {
    color: transparent;
}



@keyframes spinHandle {
    0% {
        transform: rotate(-45deg); /* Начальное положение */
    }

    45% {
        transform: rotate(315deg); /* Полный оборот */
    }

    50%, 55% {
        transform: rotate(315deg); /* Пауза на 315 градусов */
    }
    95% {
        transform: rotate(-45deg); /* Возвращение в начальное положение */
    }

    100% {
        transform: rotate(-45deg); /* Кратковременная пауза перед началом нового цикла */
    }
}

.rx-search-handle {
    transform-origin: center; /* Устанавливаем точку вращения в центр ручки */
}

.rx-search-input:hover + .rx-search-handle {
    animation: spinHandle 6s linear infinite; /* Применяем анимацию при наведении */
}




.rx-search:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.6s;
}



.tooltip-text {
    visibility: hidden;
    background-color: dimgray;
    color: white; /* Белый текст */
    text-align: center;
    border-radius: 3px;
    padding: 7px;
    /* Позиционирование */
    position: absolute;
    z-index: 1;
    top: -10%; /* Под кнопкой */
    left: 50%;
    transform: translateX(-130%);
    margin-top: 10px; /* Отступ от кнопки */
    /* Анимация */
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    transition-delay: 0.1s;
    font-size: 13px !important;
}



.record-item-special {
    transition: transform 0.2s ease;
}

    .record-item-special:hover {
        transform: translateX(-10px); /* Небольшой сдвиг влево */
    }

.icons-container {
    display: flex;
    gap: 10px; /* Изменение расстояния между иконками */
    opacity: 0;
    transition: opacity 0.2s ease;
}

.record-item-special:hover .icons-container {
    opacity: 1;
}

.icons-container span {
    transition: transform 0.2s ease;
    position: relative;
    color:#9fe8f5
}

    .icons-container span:hover {
        color: #134ca5
    }

        .icons-container span:hover::after {
            content: attr(data-tooltip); /* Всплывающая подсказка */
            position: absolute;
            bottom: 81%;
            left: 50%;
            transform: translateX(-120%);
            background-color: black;
            color: white;
            padding: 5px;
            border-radius: 5px;
            font-size: 12px;
            white-space: nowrap;
        }

        .icons-container span:hover i {
            color: #цвет; /* Цвет при наведении */
        }

.obsolete-indicator {
    color: orange;
    font-weight: bold;
    margin-left: 10px;
}

.likes-count {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    color: green;
}




.top-right {
    cursor: pointer;
    position: relative; /* Добавлено относительное позиционирование */
}

.notification-icon {
    width: 24px; /* Размер иконки */
    height: 24px; /* Размер иконки */
}

.bi-bell {
    fill: #007bff; /* Цвет при наведении, например, синий */
}

    .bi-bell:hover {
        fill: #e29b1a; /* Цвет при наведении, например, синий */
        transform: scale(1.04);
    }







.top-right:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.6s;
}



.flex-container {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: space-between; /* Распределение пространства между элементами */
}