
.page {
    display: flex;
    flex-direction: column;
    /* другие стили */

}

.main-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

main {
    flex: 1; /* Занимает все оставшееся пространство */
    /* другие стили */
   
}

button {
    background-color: #4a148c;
    color: #ffffff;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #6a1b9a;
    }



.top-row {
    border-bottom: none; /* или '0', чтобы убрать границу */
    position: relative; /* Для корректного позиционирования псевдоэлемента */
    border-bottom-left-radius: 16px; /* Закругление снизу слева */
    gap: 5%; 
    flex-wrap: wrap;
    border-bottom: 2px solid #e0e0e0;
    justify-content: center;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(12deg, #4ba1a8 0%, #47728b 100%);

}






.content {
    margin: 0px;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}




.top-container {
    display: flex;
    flex-direction: column;

}





/* Стиль для иконки '+' внутри кнопки */
.fab-icon {
    display: inline-block;
    text-align: center;
}

    /* Используем псевдоэлемент для создания '+' */
    .fab-icon::before {
        content: '+';
    }


.search-group {
    position: relative;
    display: flex;
    align-items: center;
}

    .search-group button,
    .search-group input {
        padding: 0.7rem 1.5rem;
        border: none;
        border-radius: 0.3rem;
        font-size: 1rem;
    }

  

    .search-group button {
        background-color: #4a148c;
        color: #ffffff;
        transition: all 0.3s ease-in-out;
    }

        .search-group button:hover {
            background-color: #6a1b9a;
        }

    .search-group.open button {
        background-color: #ffffff;
        color: #4a148c;
        border: 1px solid #4a148c;
    }

  

    .search-group.open button {
        position: absolute;
        right: 0;
        z-index: 2;
    }




.popular-records {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff; /* Фоновый цвет */
    border-radius: 0.5rem; /* Скругление углов */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 1rem; /* Внутренний отступ */
    margin-top: 1rem; /* Отступ сверху */
    
}


.popular-record-img {
    width: calc(12.5% - 10px); /* 100% divided by 8 minus a small margin */
    margin: 5px;

}







.user-btn {
    background-color: transparent; /* Убрать фоновый цвет */
    border-radius: 8px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
    cursor: pointer; /* Курсор в виде указателя */
    transition: transform 0.1s ease, background-image 0.1s ease; /* Обновите transition */
    display: flex; /* Использование flexbox */
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: flex-start; /* Выравнивание содержимого по левому краю */
    padding: 0; /* Убрать внутренние отступы */
    position: absolute; /* Абсолютное позиционирование */
    right: 10px; /* Правый отступ */
    width: auto; /* Ширина подстраивается под содержимое */
    padding: 10px;
}

    .user-btn:hover {
        background-color: transparent; /* Убрать фоновый цвет */
        border-color: #e74c3c; /* Изменить цвет рамки при наведении */
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Изменить тень при наведении */
        cursor: pointer; /* Курсор в виде указателя */
        display: flex; /* Использование flexbox */
        align-items: center; /* Выравнивание по центру по вертикали */
        justify-content: flex-start; /* Выравнивание содержимого по левому краю */
        padding: 0; /* Убрать внутренние отступы */
        position: absolute; /* Абсолютное позиционирование */
        right: 10px; /* Правый отступ */
        width: auto; /* Ширина подстраивается под содержимое */
        padding: 10px;
    }

    .user-btn .user-img {
        max-width: 50px; /* Максимальная ширина изображения */
        max-height: 50px; /* Максимальная высота изображения */
        width: auto; /* Ширина изображения будет изменяться автоматически */
        height: auto; /* Высота изображения будет изменяться автоматически */
        order: 2; /* Помещаем изображение вторым в flexbox, чтобы оно было справа */
        object-fit: contain; /* Убедитесь, что весь контент изображения виден */
    }

    .user-btn .user-name {
        order: 1; /* Помещаем текст первым в flexbox, чтобы он был слева */
        margin-right: 14px;
        font-size: 16px; /* Или другой размер, который вам подходит */
        white-space: nowrap; /* Предотвращаем перенос текста на новую строку */
      
    }





::-webkit-scrollbar {
    width: 0;
}





.sidebar {
    border-bottom: none; /* или '0', чтобы убрать границу */
    background: var(--primary-gradient);
    width: 275px;
    box-shadow: var(--box-shadow);
    color: var(--secondary-color);
    overflow-y: auto; /* Это позволит прокрутку по вертикали при необходимости */
}




    

  




.image-favorite {
    background-image: url('/serviceimages/favorite_main.png');
    background-color: transparent; /* Убрать фоновый цвет */
    border: none; /* Убрать границу */
    cursor: pointer; /* Курсор в виде указателя */
    width: 30px; /* Задайте необходимый размер */
    height: 44px; /* Высота для одного изображения в спрайте */
    transition: transform 0.2s ease; /* Обновите transition */
    position: relative;
    padding: 0; /* Убрать внутренние отступы */
    display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
    background-position: 0 0; /* Позиция обычного состояния */


}


    .image-favorite:hover {
        background-position: 0 -44px; /* Позиция для состояния при наведении */
        background-color: transparent; /* Убрать фоновый цвет */
        border: none; /* Убрать границу */
        cursor: pointer; /* Курсор в виде указателя */
        padding: 0; /* Убрать внутренние отступы */
        display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
        transform:  translate(1px, 1px); /* Уменьшение и смещение */
    }

        .image-favorite:hover .tooltip-text {
            visibility: visible;
            opacity: 1;
            transition-delay: 0.6s;
        }

.top-row button:not(.user-btn) {
    position: relative;
    border-color: #e74c3c;

}

    .top-row button:not(.user-btn)::before {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), /* Основная тень */
        0 5px 3px rgba(0, 0, 0, 0.1), /* Тень снизу */
        inset 0 0 10px rgba(255, 255, 255, 0.2), /* Внутренний свет */
        0 0 5px rgba(0, 0, 0, 0.3), /* Резкий контур */
        0 0 10px rgba(0, 0, 0, 0.1); /* Тонкая обводка */


        content: "";
        position: absolute;
        top: 50%; /* Центрирование тени по вертикали */
        left: 50%; /* Центрирование тени по горизонтали */
        width: 50px; /* Фиксированная ширина тени */
        height: 50px; /* Фиксированная высота тени */
        background: rgba(0, 0, 0, 0.1); /* Цвет тени */
        border-radius: 20%; /* Для создания круглой тени */
        transform: translate(-50%, -50%); /* Центрирование тени относительно кнопки */
        z-index: -1;
    }




.image-add-template {
    background-image: url('/serviceimages/add_template.png');
    background-color: transparent; /* Убрать фоновый цвет */
    border: none; /* Убрать границу */
    cursor: pointer; /* Курсор в виде указателя */
    width: 30px; /* Задайте необходимый размер */
    height: 40px; /* Высота для одного изображения в спрайте */
    transition: transform 0.2s ease; /* Обновите transition */
    position: relative;
    padding: 0; /* Убрать внутренние отступы */
    display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
    background-position: 0 0; /* Позиция обычного состояния */
}


    .image-add-template:hover {
        background-position: 0 -38px; /* Позиция для состояния при наведении */
        background-color: transparent; /* Убрать фоновый цвет */
        border: none; /* Убрать границу */
        cursor: pointer; /* Курсор в виде указателя */
        padding: 0; /* Убрать внутренние отступы */
        display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
        transform: translate(1px, 1px); /* Уменьшение и смещение */
    }

        .image-add-template:hover .tooltip-text {
            visibility: visible;
            opacity: 1;
            transition-delay: 0.6s;
        }







.image-xml {
    background-image: url('/serviceimages/xml.png');
    background-color: transparent; /* Убрать фоновый цвет */
    border: none; /* Убрать границу */
    cursor: pointer; /* Курсор в виде указателя */
    width: 30px; /* Задайте необходимый размер */
    height: 18px; /* Высота для одного изображения в спрайте */
    transition: transform 0.2s ease; /* Обновите transition */
    position: relative;
    padding: 0; /* Убрать внутренние отступы */
    display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
    background-position: 0 0; /* Позиция обычного состояния */
}


    .image-xml:hover {
        background-position: 0 -18px; /* Позиция для состояния при наведении */
        background-color: transparent; /* Убрать фоновый цвет */
        border: none; /* Убрать границу */
        cursor: pointer; /* Курсор в виде указателя */
        padding: 0; /* Убрать внутренние отступы */
        display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
        transform: translate(1px, 1px); /* Уменьшение и смещение */
    }



.tooltip-text {
    visibility: hidden;
    background-color: dimgray; 
    color: white; /* Белый текст */
    text-align: center;
    border-radius: 3px;
    padding: 7px;
    /* Позиционирование */
    position: absolute;
    z-index: 1;
    top: 100%; /* Под кнопкой */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px; /* Отступ от кнопки */
    /* Анимация */
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    transition-delay: 0.1s;
    font-size:13px !important;
    
}

.image-xml:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.6s;
}


.image-quotes {
    background-image: url('/serviceimages/quotes.png');
    background-color: transparent; /* Убрать фоновый цвет */
    border: none; /* Убрать границу */
    cursor: pointer; /* Курсор в виде указателя */
    width: 30px; /* Задайте необходимый размер */
    height: 31px; /* Высота для одного изображения в спрайте */
    transition: transform 0.2s ease; /* Обновите transition */
    position: relative;
    padding: 0; /* Убрать внутренние отступы */
    display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
    background-position: 0 0; /* Позиция обычного состояния */
}


    .image-quotes:hover {
        background-position: 0 -31px; /* Позиция для состояния при наведении */
        background-color: transparent; /* Убрать фоновый цвет */
        border: none; /* Убрать границу */
        cursor: pointer; /* Курсор в виде указателя */
        padding: 0; /* Убрать внутренние отступы */
        display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
        transform: translate(1px, 1px); /* Уменьшение и смещение */
    }




        .image-quotes:hover .tooltip-text {
            visibility: visible;
            opacity: 1;
            transition-delay: 0.6s;
        }



.image-comma {
    background-image: url('/serviceimages/comma.png');
    background-color: transparent; /* Убрать фоновый цвет */
    border: none; /* Убрать границу */
    cursor: pointer; /* Курсор в виде указателя */
    width: 30px; /* Задайте необходимый размер */
    height: 31px; /* Высота для одного изображения в спрайте */
    transition: transform 0.2s ease; /* Обновите transition */
    position: relative;
    padding: 0; /* Убрать внутренние отступы */
    display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
    background-position: 0 0; /* Позиция обычного состояния */
}


    .image-comma:hover {
        background-position: 0 -31px; /* Позиция для состояния при наведении */
        background-color: transparent; /* Убрать фоновый цвет */
        border: none; /* Убрать границу */
        cursor: pointer; /* Курсор в виде указателя */
        padding: 0; /* Убрать внутренние отступы */
        display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
        transform: translate(1px, 1px); /* Уменьшение и смещение */
    }







        .image-comma:hover .tooltip-text {
            visibility: visible;
            opacity: 1;
            transition-delay: 0.6s;
        }




.image-pdf {
    background-image: url('/serviceimages/pdf.png');
    background-color: transparent; /* Убрать фоновый цвет */
    border: none; /* Убрать границу */
    cursor: pointer; /* Курсор в виде указателя */
    width: 30px; /* Задайте необходимый размер */
    height: 34px; /* Высота для одного изображения в спрайте */
    transition: transform 0.2s ease; /* Обновите transition */
    position: relative;
    padding: 0; /* Убрать внутренние отступы */
    display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
    background-position: 0 0; /* Позиция обычного состояния */
}


    .image-pdf:hover {
        background-position: 0 -34px; /* Позиция для состояния при наведении */
        background-color: transparent; /* Убрать фоновый цвет */
        border: none; /* Убрать границу */
        cursor: pointer; /* Курсор в виде указателя */
        padding: 0; /* Убрать внутренние отступы */
        display: block; /* Убедитесь, что кнопка не имеет дополнительных отступов */
        transform: translate(1px, 1px); /* Уменьшение и смещение */
    }



        .image-pdf:hover .tooltip-text {
            visibility: visible;
            opacity: 1;
            transition-delay: 0.6s;
        }