


.modal-dialog {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    max-width: 200px;
    width: 100%;
    pointer-events: auto;
}


/* Закрыть кнопку */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }



.edit-button-position {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.nav-tabs {
    display: flex;
    border-bottom: 2px solid #0071c1;
    justify-content: space-between;
}

    .nav-tabs div {
        padding: 10px;
        cursor: pointer;
        border: 1px solid #0071c1;
        border-bottom: none;
        background-color: #f8f9fa;
    }

        .nav-tabs div.active {
            background-color: #0071c1;
            color: white;
        }

/* Для вашего основного контейнера, который содержит список элементов и вкладки. */
.main-container {
    display: flex;
    flex-direction: column-reverse;
}


.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.hand-cursor {
    cursor: pointer;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.img-preview {
    max-width: 100px;
    max-height: 100px;
}


.active-tab {
    background-color: lightblue;
    color: white;
}



.nav-tabs {
    display: flex;
    border-bottom: 2px solid #0071c1;
    justify-content: space-between;
}

    .nav-tabs div {
        padding: 10px;
        cursor: pointer;
        border: 1px solid #0071c1;
        border-bottom: none;
        background-color: #f8f9fa;
    }

        .nav-tabs div.active {
            background-color: #0071c1;
            color: white;
        }


.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}


.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}


@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}


/* Добавляем базовые стили для кнопки */
.fab-button {
    position: fixed; /* Фиксированное позиционирование относительно вьюпорта */
    bottom: 20px; /* Отступ снизу */
    left: 20px; /* Отступ слева */
    background-color: rgba(255, 255, 255, 0.7); /* Светлый цвет фона с прозрачностью */
    border: none; /* Убираем границу */
    border-radius: 50%; /* Делаем кнопку круглой */
    width: 60px; /* Ширина */
    height: 60px; /* Высота */
    cursor: pointer; /* Курсор в виде руки, указывающей, что это кнопка */
    outline: none; /* Убираем контур при фокусе */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Добавляем небольшую тень для лучшей видимости */
    display: inline-flex !important; /* Добавлено !important для гарантирования отображения */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    font-size: 24px; /* Размер иконки '+' */
    color: #555; /* Цвет иконки, темно-серый для контраста */
    transition: background-color 0.3s, box-shadow 0.3s; /* Плавные переходы */
    z-index: 1000; /* Убедитесь, что кнопка будет над другими элементами */
}

    /* Стиль для эффекта при наведении курсора */
    .fab-button:hover {
        background-color: rgba(255, 255, 255, 0.9); /* Более непрозрачный фон при наведении */
        box-shadow: 0 6px 12px rgba(0,0,0,0.4); /* Увеличиваем тень */
    }



/* Стиль для иконки '+' внутри кнопки */
.fab-icon {
    display: inline-block;
    text-align: center;
}

    /* Используем псевдоэлемент для создания '+' */
    .fab-icon::before {
        content: '+';
    }
