
.modal {
    display: none; /* По умолчанию скрыто */
    position: fixed; /* Оставаться на одном месте */
    z-index: 1; /* Сидеть сверху */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включить прокрутку, если нужно */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Черный с небольшой прозрачностью */
    padding-top: 60px;
}

/* Модальное содержимое/коробка */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% сверху, 15% снизу и центрировано */
    border: 1px solid #888;
    width: 80%; /* Шириной в 80% */
}

/* Закрыть кнопку */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }



.edit-button-position {
    position: fixed;
    bottom: 20px;
    right: 20px;
}



.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.hand-cursor {
    cursor: pointer;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }


.active-tab {
    background-color: lightblue;
    color: white;
}


.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}


.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}


@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
