
.nav-tabs {
    display: flex;
    border-bottom: 2px solid #0071c1;
    justify-content: space-between;
}

    .nav-tabs div {
        padding: 10px;
        cursor: pointer;
        border: 1px solid #0071c1;
        border-bottom: none;
        background-color: #f8f9fa;
    }

        .nav-tabs div.active {
            background-color: #0071c1;
            color: white;
        }

.main-container {
    display: flex;
    flex-direction: column-reverse;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.hand-cursor {
    cursor: pointer;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.img-preview {
    max-width: 100px;
    max-height: 100px;
}


.active-tab {
    background-color: lightblue;
    color: white;
}

.nav-tabs {
    display: flex;
    border-bottom: 2px solid #0071c1;
    justify-content: space-between;
}

    .nav-tabs div {
        padding: 10px;
        cursor: pointer;
        border: 1px solid #0071c1;
        border-bottom: none;
        background-color: #f8f9fa;
    }

        .nav-tabs div.active {
            background-color: #0071c1;
            color: white;
        }


.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}


.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}


@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}



.fab-button {
    position: fixed; 
    bottom: 20px; 
    left: 20px; 
    background-color: #76648d;
    border: none; 
    border-radius: 50%; 
    width: 60px; 
    height: 60px; 
    cursor: pointer; 
    outline: none; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
    display: inline-flex !important; 
    justify-content: center; 
    align-items: center;
    font-size: 24px; 
    color: #555; 
    transition: background-color 0.3s, box-shadow 0.3s; 
    z-index: 1000; 

}

  
    .fab-button:hover {
        background-color: #a394b7;
        box-shadow: 0 6px 12px rgba(0,0,0,0.4); /* Увеличиваем тень */
    }



/* Стиль для иконки '+' внутри кнопки */
.fab-icon {
    display: inline-block;
    text-align: center;
}

    /* Используем псевдоэлемент для создания '+' */
    .fab-icon::before {
        content: '+';
    }



/* Общие стили для кнопки */
.edit-button-position {
    position: fixed; /* Фиксированное позиционирование относительно вьюпорта */
    bottom: 20px; /* Отступ снизу, аналогично кнопке "Добавить вкладку" */
    right: 90px; /* Отступ справа, чтобы располагалась правее кнопки "Добавить вкладку" */
}

.edit-fab-button {
    background-color: #72b8cb;
    border: none; /* Убираем границу */
    border-radius: 50%; /* Делаем кнопку круглой */
    width: 60px; /* Ширина */
    height: 60px; /* Высота */
    cursor: pointer; /* Курсор в виде руки, указывающей, что это кнопка */
    outline: none; /* Убираем контур при фокусе */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Добавляем небольшую тень */
    display: flex; /* Используем flexbox для центрирования содержимого */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    font-size: 24px; /* Размер иконки */
    color: #555; /* Цвет иконки */
    transition: background-color 0.3s, box-shadow 0.3s; /* Плавные переходы */
    z-index: 1000; /* Убедитесь, что кнопка будет над другими элементами */
    position: relative; /* Для позиционирования подсказки относительно кнопки */
    opacity: 0.7; /* Значение прозрачности, например, 0.5 для 50% прозрачности */
}

    .edit-fab-button:hover {
        background-color: #72b8cb;
        box-shadow: 0 6px 12px rgba(0,0,0,0.4); /* Увеличиваем тень */
        opacity: 1;
    }

/* Стиль для иконки карандаша */
.edit-fab-icon {
    display: inline-block;
    text-align: center;
    /* Вместо '+', используйте класс иконки карандаша от Font Awesome */
}

    /* Если используете Font Awesome, добавьте соответствующий класс здесь */
    .edit-fab-icon::before {
        /* Пример: content: '\f040';  - это Unicode для карандаша в Font Awesome */
    }


.edit-fab-button .fa-pencil-alt {
    font-size: 24px; /* Изменение размера иконки */
    color: #555; /* Цвет иконки */
}


.tooltip {
    visibility: hidden;
    width: 105px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Позиционирование над кнопкой */
    left: 50%;
    margin-bottom:10px;
    transform: translateX(-50%); /* Центрируем подсказку относительно кнопки */

    opacity: 0;
    transition: opacity 0.3s;
}

    /* Стиль для стрелки подсказки */
    .tooltip::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }

/* Отображение подсказки при наведении */
.edit-fab-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}












.modal {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    animation: fadeInModal 0.5s ease-out;
    z-index:9999;
}


.modal-dialog {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    max-width: none; /* Уберите ограничение максимальной ширины */
    width: 70%; /* Установим ширину модального окна как 70% от ширины родительского элемента */
    height: 85%; /* Установим высоту модального окна как 85% от высоты родительского элемента */
    pointer-events: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-out;
    z-index: 9999;
}

.add-record-modal-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    pointer-events: auto;
}

@keyframes fadeInModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeInModalAnimation {
    animation-name: fadeInModal;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); /* Пример кривой Безье */
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    padding: 0.75rem 1.5rem; /* Увеличен padding */
    pointer-events: auto;
}

.modal-title {
    margin: 0;
    font-size: 1.5rem; /* Увеличен размер шрифта */
    font-weight: bold;
    color: #495057;
    pointer-events: auto;
}

.modal-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1.5rem;
    pointer-events: auto;
}

#content {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid #ced4da;
    border-radius: 4px;
    pointer-events: auto;
    padding: 0.75rem;
    min-height: 100px; /* Минимальная высота */
}

.modal-footer {
    pointer-events: auto;
}