


.modal-dialog {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    max-width: 200px;
    width: 100%;
    pointer-events: auto;
}


/* Закрыть кнопку */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }



.edit-button-position {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.nav-tabs {
    display: flex;
    border-bottom: 2px solid #0071c1;
    justify-content: space-between;
}

    .nav-tabs div {
        padding: 10px;
        cursor: pointer;
        border: 1px solid #0071c1;
        border-bottom: none;
        background-color: #f8f9fa;
    }

        .nav-tabs div.active {
            background-color: #0071c1;
            color: white;
        }

/* Для вашего основного контейнера, который содержит список элементов и вкладки. */
.main-container {
    display: flex;
    flex-direction: column-reverse;
}


.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.hand-cursor {
    cursor: pointer;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.img-preview {
    max-width: 100px;
    max-height: 100px;
}


.active-tab {
    background-color: lightblue;
    color: white;
}



.nav-tabs {
    display: flex;
    border-bottom: 2px solid #0071c1;
    justify-content: space-between;
}

    .nav-tabs div {
        padding: 10px;
        cursor: pointer;
        border: 1px solid #0071c1;
        border-bottom: none;
        background-color: #f8f9fa;
    }

        .nav-tabs div.active {
            background-color: #0071c1;
            color: white;
        }


.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}


.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}


@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}


